/* ------------------------------------ 

CSS TABLE OF CONTENTS 

# GLOBAL CSS 
    
    # TYPOGRAPHY
        # BODY
        # HEADINGS
        # LINKS
        # HORIZONTAL RULE
        # HELPERS
        # TYPE SPECIMEN
    # BUTTONS
    # MEDIA
        # IMG
    # LAYOUT
        # MEDIA QUERIES
        # CONTAINER
        # RESPONSIVE TYPE
    # GRID
        # SEMENTIC COLUMNS (1/2, 1/3, ETC)
        # GRID HELPERS (SWAP, CENTER)
    # STRUCTURE
        # SITE-HEADER
        # SITE-FOOTER
        # SITE-NAV
        # SECTIONS
            # HERO SECTIONS

------------------------------------  */
/* HEADING */
body {
  font-family: "effra", sans-serif;
  font-size: 100%;
  line-height: 1.4; }

h1, h2, h3 {
  font-family: "effra", sans-serif;
  color: #333333;
  margin: .5em auto;
  font-weight: 500;
  text-align: center; }

h1 {
  font-size: 3em;
  line-height: 1;
  letter-spacing: .1em; }

h2 {
  font-size: 2em;
  line-height: 1.1; }

h3 {
  font-size: 1.5em;
  line-height: 1.2;
  letter-spacing: .05em;
  text-transform: uppercase; }

h4 {
  font-size: .9em;
  line-height: 1.2;
  letter-spacing: .3em;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase; }

p {
  max-width: 35em;
  line-height: 1.7em;
  text-align: left;
  color: #9b9b9b;
  letter-spacing: .02em;
  font-size: 95%; }

a {
  color: #333333;
  text-decoration: none; }

a:hover {
  opacity: .5; }

hr {
  border: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.15);
  margin: 4em 0; }

.sectionhead {
  text-align: center;
  font-family: "effra", sans-serif;
  font-weight: 700;
  font-size: 1em;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .4em;
  margin-top: 2em;
  margin-bottom: 3em; }

.meta {
  display: block;
  font-size: .8em;
  color: #333333;
  margin: 0 0 2em 0; }

/* TYPE SPECIMEN */
.mainhead {
  font-size: 4em;
  font-family: "effra", sans-serif;
  color: #4df096; }

.subhead {
  font-family: "effra", sans-serif;
  color: #4df096;
  margin-bottom: 3em; }

.hoverbox-mainhead {
  color: white;
  margin: 0;
  padding: 0;
  letter-spacing: .2em; }

.hoverbox-subhead {
  font-size: .9em;
  font-weight: 300;
  letter-spacing: .08em;
  color: #ffffff;
  margin: 0;
  padding: 0; }

button {
  font-size: inherit; }

button,
.button {
  background-color: #333333;
  color: #fff;
  padding: 1em 1.6em;
  display: inline-block;
  margin: .5em auto .5em auto;
  border-radius: .5em;
  margin-bottom: 2em;
  border: 1px solid #333333;
  cursor: pointer;
  text-decoration: none; }
  button:hover,
  .button:hover {
    background-color: rgba(51, 51, 51, 0.5);
    color: #fff;
    border-color: rgba(51, 51, 51, 0.5); }
  button.alt,
  .button.alt {
    color: #333333;
    background-color: white;
    border: 1px solid #333333; }
    button.alt:hover,
    .button.alt:hover {
      background-color: rgba(51, 51, 51, 0.5);
      color: #fff;
      border-color: rgba(51, 51, 51, 0.5); }
  button.dark,
  .button.dark {
    color: #fff;
    background-color: transparent;
    border-color: #fff; }
  button:hover,
  .button:hover {
    background: #fff;
    color: #000; }

.button-underline {
  color: #fff;
  padding: 1em 1.6em;
  display: block;
  margin: .5em auto .5em auto;
  text-decoration: none;
  text-align: center; }

img {
  max-width: 100%;
  height: auto; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-size: 87.5%;
  margin: 0; }

.container {
  padding: 0 4%;
  margin: 0 auto;
  text-align: center; }

@media (min-width: 768px) {
  body {
    font-size: 100%; } }

@media (min-width: 1050px) {
  .container {
    max-width: 1000px; } }

@media (min-width: 1250px) {
  body {
    font-size: 112.5%; }
  .container {
    max-width: 1050px; } }

.row .column {
  margin-bottom: 2%;
  padding: 1em; }

@media (min-width: 768px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: -1%;
    margin-right: -1%; }
    .row.swap {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
    .row.center {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .row .column {
      color: #44dda8;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      margin: 1%; }
      .row .column.one-half {
        width: 48%; }
      .row .column.one-third {
        width: 31.3333%; }
      .row .column.two-thirds {
        width: 64.6666%; }
      .row .column.one-fourth {
        width: 23%; } }

.row.demo .column {
  background: #f1f1f1;
  padding: 1em;
  text-align: center; }

.site-header, .site-footer {
  background-color: black;
  padding: 1em;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .site-header h1, .site-footer h1 {
    font-family: "effra", sans-serif;
    font-size: 1.5em;
    margin: .5em 0 0 0; }
  .site-header a, .site-footer a {
    color: white;
    text-decoration: none; }

.site-header {
  background-color: transparent;
  position: absolute;
  width: 100%; }

.site-footer {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 6em; }

.site-id h1 {
  font-size: 1.5em;
  margin: 0; }

.site-id h1 a {
  display: inline-block;
  padding: .6em 0; }

/* SITE NAVIGATION */
.site-nav ul {
  margin: 0;
  padding: 0; }

.site-nav ul li {
  display: inline-block; }

.site-nav ul li a {
  display: block;
  padding: 1em 1.5em;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease; }

@media (max-width: 767px) {
  .site-nav ul li a:hover {
    background: #003;
    color: #fff; } }

/* MENU BUITTON */
.menu-button {
  position: absolute;
  top: 1.5em;
  right: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* float: right; */ }

@media (min-width: 768px) {
  .menu-button {
    position: absolute;
    top: -9999px;
    left: -9999px; } }

/* NAVICON */
.navicon {
  cursor: default;
  color: rgba(255, 255, 255, 0); }

.navicon::-moz-selection {
  background: rgba(255, 255, 255, 0); }

.navicon::selection {
  background: rgba(255, 255, 255, 0); }

.navicon::after {
  cursor: pointer;
  content: "\2630";
  font-size: 1.5em;
  color: black;
  display: block;
  margin-left: .5em; }

.expanded .navicon::after {
  content: "\2715";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out; }

/* TOGGLE NAV */
@media (max-width: 768px) {
  .site-header.toggle-nav {
    text-align: left; }
  .toggle-nav .site-nav ul li {
    display: block;
    text-align: center; }
  .toggle-nav .site-nav ul {
    display: none; }
  .toggle-nav .site-nav.expanded ul {
    display: block; } }

.title {
  color: white;
  padding-top: 6em;
  padding-bottom: 0; }

section {
  padding: 3em 0; }

.hero {
  background-color: black;
  color: #fff;
  background-image: url(https://picsum.photos/1600/900?grayscale);
  background-size: cover;
  padding: 6em 1em;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center; }

.hoverbox {
  position: relative;
  overflow: hidden;
  max-width: 90%;
  height: auto;
  margin: 0 auto; }
  .hoverbox a:hover {
    opacity: 1; }

.hoverbox img {
  max-width: 100%; }

.hoverbox .hoverbox-layer-bottom {
  display: block; }

.hoverbox .hoverbox-layer-top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 15px;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s; }

.hoverbox:hover .hoverbox-layer-top,
.hoverbox.active .hoverbox-layer-top {
  opacity: 1; }

.hoverbox .hoverbox-text {
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/* PROJECT PAGE */
.project {
  position: relative; }
  .project header {
    z-index: 2; }
  .project .hero-textbox {
    z-index: 2; }
  .project .hero .title {
    font-size: 2.5em;
    letter-spacing: .12em;
    text-transform: uppercase;
    padding-top: 0;
    margin-bottom: .7em; }
  .project .hero .sub-head {
    color: white;
    letter-spacing: .12em;
    word-spacing: 1em;
    text-align: center; }
  .project .text {
    padding: 1em; }
  .project .text-box {
    max-width: 35em;
    padding: 2em;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 auto; }
    .project .text-box .main-head {
      font-size: 1.125em;
      text-transform: uppercase;
      letter-spacing: .2em;
      text-align: left;
      margin-bottom: 0;
      font-weight: 600; }
  .project .overlay {
    position: relative; }
  .project .absolute {
    position: absolute;
    top: 34%;
    -webkit-transition: opacity 0.5s linear, -webkit-transform 0.5s cubic-bezier(0, 1, 1, 1);
    transition: opacity 0.5s linear, -webkit-transform 0.5s cubic-bezier(0, 1, 1, 1);
    -o-transition: opacity 0.5s linear, transform 0.5s cubic-bezier(0, 1, 1, 1);
    transition: opacity 0.5s linear, transform 0.5s cubic-bezier(0, 1, 1, 1);
    transition: opacity 0.5s linear, transform 0.5s cubic-bezier(0, 1, 1, 1), -webkit-transform 0.5s cubic-bezier(0, 1, 1, 1); }

@-webkit-keyframes fade-and-move-in {
  from {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0; }
  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; } }

@keyframes fade-and-move-in {
  from {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0; }
  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; } }
  .project .fade-and-move-in * {
    opacity: 0;
    -webkit-animation: fade-and-move-in ease-out 1;
    animation: fade-and-move-in ease-out 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s; }
  .project .fade-and-move-in *:nth-child(1) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
  .project .image-title {
    margin-top: 5em;
    margin-bottom: 3em;
    color: #707577; }
  .project .image {
    -webkit-box-shadow: 0 12px 40px rgba(38, 45, 56, 0.3);
    box-shadow: 0 12px 40px rgba(38, 45, 56, 0.3);
    border-radius: 1em; }
    .project .image.desktop {
      max-width: 70%;
      margin: 3em; }
    .project .image.popup {
      max-width: 32%;
      height: auto;
      border-radius: .8em;
      -webkit-box-shadow: 0 6.5px 5.6px -15px rgba(0, 0, 0, 0.06), 0 16.3px 12.2px -15px rgba(0, 0, 0, 0.079), 0 32.2px 22px -15px rgba(0, 0, 0, 0.084), 0 73px 74px -15px rgba(0, 0, 0, 0.08);
      box-shadow: 0 6.5px 5.6px -15px rgba(0, 0, 0, 0.06), 0 16.3px 12.2px -15px rgba(0, 0, 0, 0.079), 0 32.2px 22px -15px rgba(0, 0, 0, 0.084), 0 73px 74px -15px rgba(0, 0, 0, 0.08); }
  .project .wireframe-box {
    max-width: 800px;
    height: auto;
    background-color: #f4f4f4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .project .wireframe {
    padding: .5em;
    margin: 5em 0; }
    .project .wireframe .BookMate {
      max-width: 600px;
      margin: 3.4em auto;
      padding: 1em; }
  .project .colorAnimationBg {
    max-width: 800px;
    border-radius: 1em;
    margin: 2em auto;
    -webkit-box-shadow: 0 12px 40px rgba(38, 45, 56, 0.3);
    box-shadow: 0 12px 40px rgba(38, 45, 56, 0.3);
    border-radius: 1em;
    background-image: -webkit-linear-gradient(135deg, #BCCFE3, #B98FE2, #57B6D3, #82D7DA);
    background-image: -o-linear-gradient(135deg, #BCCFE3, #B98FE2, #57B6D3, #82D7DA);
    background-image: linear-gradient(-45deg, #BCCFE3, #B98FE2, #57B6D3, #82D7DA);
    background-size: 400% 400%;
    -webkit-animation: gradientBG 15s ease infinite;
    animation: gradientBG 15s ease infinite; }

@-webkit-keyframes gradientBG {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes gradientBG {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.persona {
  min-height: 500px; }

#slides {
  position: relative;
  max-width: 30em;
  margin: 0 auto; }

#slides img {
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out; }

@-webkit-keyframes slidesFadeInOut {
  0% {
    opacity: 1; }
  45% {
    opacity: 1; }
  55% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes slidesFadeInOut {
  0% {
    opacity: 1; }
  45% {
    opacity: 1; }
  55% {
    opacity: 0; }
  100% {
    opacity: 0; } }

#slides .persona2 {
  -webkit-animation-name: slidesFadeInOut;
  animation-name: slidesFadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate; }

#slides .persona3 {
  -webkit-animation-name: slidesFadeInOut;
  animation-name: slidesFadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate; }

.mobileUI-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2em; }

.mobile {
  max-width: 260px;
  margin: 2em; }

.video-box {
  max-width: 980px;
  min-height: 580px;
  background-color: rgba(162, 170, 175, 0.4);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.mockup-iphone {
  height: auto;
  position: relative;
  z-index: 2;
  top: 38px;
  left: -1px;
  max-width: 380px; }

.video-bookmate {
  position: absolute;
  max-width: 193px;
  z-index: 1; }

.page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 3em; }

.page-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.page-link-ic {
  max-width: 15px;
  margin: 1.3em; }

.page-link-text-wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.page-link-text {
  text-align: left;
  margin-bottom: .7em; }

.hero.memory {
  background-color: black;
  color: #fff;
  background-image: url(../img/Memory/kristopher-roller-zepnJQycr4U-unsplash-min.jpg);
  background-size: cover;
  background-position: center;
  padding: 6em 1em;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-bottom: 6em; }

.hero.BookMate {
  background-color: black;
  color: #fff;
  background-image: url(../img/BookMate/thought-catalog-o0Qqw21-0NI-unsplash-min.jpg);
  background-size: cover;
  background-position: center;
  padding: 6em 1em;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-bottom: 6em; }

[data-scroll] {
  -webkit-transition: opacity 0.5s linear, -webkit-transform 0.5s cubic-bezier(0, 1, 1, 1);
  transition: opacity 0.5s linear, -webkit-transform 0.5s cubic-bezier(0, 1, 1, 1);
  -o-transition: opacity 0.5s linear, transform 0.5s cubic-bezier(0, 1, 1, 1);
  transition: opacity 0.5s linear, transform 0.5s cubic-bezier(0, 1, 1, 1);
  transition: opacity 0.5s linear, transform 0.5s cubic-bezier(0, 1, 1, 1), -webkit-transform 0.5s cubic-bezier(0, 1, 1, 1); }

[data-scroll="in"] {
  opacity: 1; }
