// VARIABLES
$body-fontfamily: 'effra', sans-serif;
$heading-fontfamily: 'effra', sans-serif;

// COLORS
$color-text-body: rgb(155, 155, 155);
$color-midgrey: rgba(51, 51, 51, 1);
$color-links: rgba(51, 51, 51, 1);
$color-links-hover: rgba(51, 51, 51, .5);

$color-accent: rgba(255, 255, 255, 1);

$color-hero-bg: rgba(0, 0, 0, 1);


// BREAKPOINTS
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;


// IMPORT PARTIALS
@import 'partials/toc';
@import 'partials/typography'; 
@import 'partials/buttons'; 
@import 'partials/media';  
@import 'partials/layout';  
@import 'partials/grid';  
@import 'partials/structure';  

