// site header

.site-header, .site-footer {
    background-color: black;
    padding: 1em;
    color: white;
    display: flex;
    justify-content: space-between;

    h1 {
        font-family: $body-fontfamily;
        font-size: 1.5em;
        margin: .5em 0 0 0; //to adjust baseline 
    }

    a {
        color: white;
        text-decoration: none;
    }
}

// site header
.site-header {
    background-color: transparent;
    position: absolute;
    width: 100%;
    align-items: center;
}


// site footer
.site-footer {
    justify-content: center;
    margin-top: 6em;
}

// site navigation


.site-id h1 {
    font-size: 1.5em;
    margin: 0;
}

.site-id h1 a {
    display: inline-block;
    margin: .2em 0;
    padding: 1em 1em;
}


/* SITE NAVIGATION */

.site-nav {
    margin-bottom:50px;
    text-align: right;
    width: 100%;
    margin: 1em auto;
    position:relative;

    @media (max-width: 767px) {

        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        margin: 0;
        background: rgba(0, 0, 0, .94);
    
        ul {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin: 0;
        padding: 0;
        list-style: none;
        z-index: 1;
        }
    
        li {
        font-size: 2.4em;
        line-height: .6em;
        text-transform: uppercase;
        letter-spacing: .1em;
        opacity: 0;
        text-align: center;
        }

        a {
        display: block;
        padding: 0 1em;
        margin: 0 0.5em;
        &:hover {
        // color: red;
        transition: all .2s ease;
        }
        }

        &.active {
            height: 100%;
            position: fixed;
            z-index: 100;
                
            ul { top: 50%; }
            
            li {
            transform: translateY(-20px);
            opacity: 1;
            transition: all .6s cubic-bezier(0,1,1,1) .8s; // slow end with delay

            &:nth-child(1) { transition-delay: .2s; }
            &:nth-child(2) { transition-delay: .3s; }
            &:nth-child(3) { transition-delay: .4s; }
            &:nth-child(4) { transition-delay: .5s; }
            }
        }

    }
  
}

.site-nav ul {
    margin: 0;
    padding: 0;
}

.site-nav ul li {
    display: inline-block;

}

.site-nav ul li a {
    display: block;
    padding: 1em 1.5em;
    transition: all .4s ease;
}

// @media (max-width:767px) {
//     .site-nav ul li a:hover {
//         background: #003;
//         color: #fff;
//     }
// }


/* MENU BUITTON */

.menu-button {
    position: absolute;
    top: 2.1em;
    right: 8%;
    display: flex;
}

    .site-header:not(.toggle-nav) .menu-button {
        top: -9999px;
        left: -9999px;
    }

@media (min-width: 768px) {
    .menu-button {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
}

/* NAVICON */

.navicon {
    cursor: default;
    color: rgba(255, 255, 255, 0);
    position: fixed;
}

.navicon::selection {
    color: rgba(255,255,255,0);
}

.navicon::after {
    cursor: pointer;
    content: "\2630";
    font-size: 2em;
    color: $color-accent;
    display: block;
    margin-left: .5em;
    transform: rotate(0);
    // transition: .2s all ease-out;
}

.expanded .navicon::after {
    content: "\2715";
    transform: rotate(90deg);
    transition: all .4s ease-out;
}


/* TOGGLE NAV */

@media (max-width: 768px) {

    .toggle-nav .site-nav ul li {
        display: block;
        text-align: center;
    }
}

.title {
    color: white;
    padding-top: 6em;
    padding-bottom: 0;
}

section {
    padding: 3em 0;
}

// HERO SECTION


.hero {
    background-color: $color-hero-bg;
    color: #fff;
    background-image: url(https://picsum.photos/1600/900?grayscale);
    background-size: cover;
    padding: 6em 1em;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

// HOVERBOX TEXT

.hoverbox {
    position: relative;
    // display: inline-block;
    overflow: hidden;
    max-width: 90%;
    height: auto;
    margin: 0 auto;

    a:hover {
        opacity: 1;
    }
}

.hoverbox img {
    max-width: 100%;
}

.hoverbox .hoverbox-layer-bottom {
    display: block;
}

.hoverbox .hoverbox-layer-top {
    opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 15px;
    transition: all 0.4s ease-in-out 0s;
}

.hoverbox:hover .hoverbox-layer-top,
.hoverbox.active .hoverbox-layer-top {
    opacity: 1;
}

.hoverbox .hoverbox-text {
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// .revealer * {

//     *:nth-child(1) {
//         transition-delay: .3s;
//     }

//     *:nth-child(2) {
//         transition-delay: .6s;
//     }
    
// }




/* PROJECT PAGE */

.project {
    position: relative;

    header {
        z-index: 2;  
    }

    .hero-textbox {
        z-index: 1;  
    }

    .hero .title {
        font-size: 2.5em;
        letter-spacing: .12em;
        text-transform: uppercase;
        padding-top: 0;
        margin-bottom: .7em;
        // text-shadow: 0 0 20px rgba(38, 45, 56, 0.3);
    }

    .hero .sub-head {
        color: white;
        letter-spacing: .12em;
        word-spacing: 1em;
        text-align: center;
        // text-shadow: 0 0 5px rgba(38, 45, 56, 0.3);
    }

    // .hero::after {
    //     content: "";
    //     background-color:rgba(0,0,0,0.2);
    //     top: 0;
    //     left: 0;
    //     bottom: 0;
    //     right: 0;
    //     position: absolute;
    //     z-index: 1;   
    // }

    .text {
        padding: 1em;
    }

    .text-box {
        max-width: 35em;
        padding: 2em;
        padding-top: 0;
        padding-bottom: 0;
        margin: 0 auto;


        .main-head {
            font-size: 1.125em;
            text-transform: uppercase;
            letter-spacing: .2em;
            text-align: left;
            margin-bottom: 0;
            font-weight: 600;
        }
    }

    .overlay {
        position: relative;
    }

    .absolute {
        position: absolute;
        top: 34%;
        transition: opacity .5s linear, transform .5s cubic-bezier(0,1,1,1);
    }

    @keyframes fade-and-move-in {
        from {
          transform: translate(0, +20px);
          opacity: 0;
        }
        to {
          transform: translate(0, 0);
          opacity: 1;
        }
      }
      
    .fade-and-move-in * {
    opacity: 0;
    animation: fade-and-move-in ease-out 1;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    }

    .fade-and-move-in *:nth-child(1) {
    animation-delay: 0.3s;
    }


    .image-title {
        margin-top: 4em;
        margin-bottom: 3em;
        color: 	#707577;
    }

    .image {
        box-shadow: 0 12px 40px rgba(38, 45, 56, 0.3);
        border-radius: 1em;

        &.desktop {
            max-width: 70%;
            margin: 3em;
        }

        &.popup {
            max-width: 32%;
            height: auto;
            border-radius: .8em;
            box-shadow:
            0 6.5px 5.6px -15px rgba(0, 0, 0, 0.06),
            0 16.3px 12.2px -15px rgba(0, 0, 0, 0.079),
            0 32.2px 22px -15px rgba(0, 0, 0, 0.084),
            0 73px 74px -15px rgba(0, 0, 0, 0.08);
        }
    }

    .wireframe-box {
        max-width: 940px;
        background-color: rgb(244, 244, 244);
    }

    .wireframe-memory {
        padding: .5em;
        margin: 5em 0;
    }

    .wireframe-BookMate {
        padding: 5em 7em;

        @media (max-width:767px) {
            padding: 3em;
        }
        
    }

    .colorAnimationBg {
        max-width: 800px;
        border-radius: 1em;
        margin: 2em auto;
        box-shadow: 0 12px 40px rgba(38, 45, 56, 0.3);
        border-radius: 1em;
        background-image: linear-gradient(-45deg, #BCCFE3, #B98FE2, #57B6D3, #82D7DA);
        background-size: 400% 400%;
        animation: gradientBG 15s ease infinite;
    }

    @keyframes gradientBG {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

}


// PERSONA SLIDES 

#slideshow {
    margin: 1em auto;
    position: relative;
    max-width: 720px;
    height: auto;
    min-height: 28em;
    
    @media (max-width:767px) {
        min-height: 10em;
    }
  }
  
#slideshow > div {
position: absolute;
}







.mobileUI-box {
    // max-width: 800px;
    display: flex;
    justify-content: center;
    padding: 2em;
}

.mobile {
    max-width: 260px;
    margin: 2em;
    // box-shadow: 0 6px 5px rgba(38, 45, 56, 0.3);
}

.video-box {
    max-width: 980px;
    min-height: 580px;
    background-color: rgba(162, 170, 175, .4);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mockup-iphone {
    height: auto;
    position: relative;
    z-index: 2;
    top: 38px;
    left: -1px;
    max-width: 380px;
}

.video-bookmate {
    position: absolute;
    // top: 98px;
    // left: 395px;
    max-width: 193px;
    z-index: 1;

    // display: block;
    // margin-left: auto;
    // margin-right: auto;
  }
























// BOTTOM PAGENATION

.page-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
}

.page-link {
    display: flex;
    align-items: center;
}

.page-link-ic {
    max-width: 15px;
    margin: 1.3em;
}

.page-link-text-wrapper {
    align-items: center;
}

.page-link-text {
    text-align: left;
    margin-bottom: .7em;
}


// HERO BACKGROUND

.hero.memory {
    background-color: $color-hero-bg;
    color: #fff;
    background-image: url(../img/Memory/kristopher-roller-zepnJQycr4U-unsplash-min.jpg); //  Photo by Kristopher Rolleron Unsplash 
    background-size: cover;
    background-position: center;
    padding: 6em 1em;
    min-height: 100vh;
    display: grid;
    place-items: center;
    margin-bottom: 6em;
}

.hero.BookMate {
    background-color: $color-hero-bg;
    color: #fff;
    background-image: url(../img/BookMate/thought-catalog-o0Qqw21-0NI-unsplash-min.jpg); //  Photo by Thought Catalog on Unsplash 
    background-size: cover;
    background-position: center;
    padding: 6em 1em;
    min-height: 100vh;
    display: grid;
    place-items: center;
    margin-bottom: 6em;
}









// SCROLL TRIGGERED ANIMAION
[data-scroll] {
    transition: opacity .5s linear, transform .5s cubic-bezier(0,1,1,1);
  }
  [data-scroll="in"] {
    opacity: 1;
  }
//   [data-scroll="out"] {
//     opacity: 0;
//     transform: translateY(20px);
//   }
