/* HEADING */

body {
    font-family: $body-fontfamily;
    font-size: 100%;
    line-height: 1.4;
}

h1, h2, h3 {
    font-family: $heading-fontfamily;
    color: $color-midgrey;
    margin: .5em auto;
    font-weight: 500;
    text-align: center;
}

h1 {
    font-size: 3em;
    line-height: 1;
    letter-spacing: .1em;
}

h2 {
    font-size: 2em;
    line-height: 1.1;
}

h3 {
    font-size: 1.5em;
    line-height: 1.2;
    letter-spacing: .05em;
    text-transform: uppercase;
}

h4 {
    font-size: .9em;
    line-height: 1.2;
    letter-spacing: .3em;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

p {
    max-width: 35em;
    line-height: 1.7em;
    text-align: left;
    color: $color-text-body;
    letter-spacing: .02em;
    // font-size: 95%;
    font-weight: 300;
}

// LINKS
a {
    color: $color-links;
    text-decoration: none;
}

a:hover {
    opacity: .5;
}

// HORIZONTAL RULE
hr {
    border: 0;
    height: 1px;
    background: rgba(0,0,0,.15);
    margin: 4em 0;
}

// HELPER
.sectionhead {
    text-align: center;
    font-family: $body-fontfamily;
    font-weight: 700;
    font-size: 1em;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .4em;
    margin-top: 2em;
    margin-bottom: 3em;
}

.meta {
    display: block;
    font-size: .8em;
    color: $color-midgrey;
    margin: 0 0 2em 0;

}

/* TYPE SPECIMEN */
.mainhead {
    font-size: 4em;
    font-family: $heading-fontfamily;
    color: $color-accent
}

.subhead {
    font-family: $body-fontfamily;
    color: $color-accent;
    margin-bottom: 3em;
}


.hoverbox-mainhead {
    color: white;
    margin: 0;
    padding: 0;
    letter-spacing: .2em;
}

.hoverbox-subhead {
    font-size: .9em;
    font-weight: 300;
    letter-spacing: .08em;
    color: #ffffff;
    margin: 0;
    padding: 0;
}